/* RESET */
* { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" }
html,body,h1,h2,h3,h4,h5,h6 { margin: 0; padding: 0; }

/* THEME */
body {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 20px;
}
.hidden {
  display: none;
}
.error {
  padding: 20px;
  background: darkred;
  color: white;
  font-weight: bold;
  font-family: monospace;
}
.controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  padding-top: 20px;
}
.controls article, .player {
  border-radius: 5px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}
.controls article {
  margin: 1%;
  background: white;
  transform: scale3d(1, 1, 1);
  transition: all 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

  /* SQUARE */
  width: 20%;
  height: 0;
  padding-bottom: 20%;

  /* LAYOUT */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.controls article::before {
  content: attr(data-note);
  color: grey;
  padding: 25% 0 10%;
  font-weight: bold;
  font-size: 16px;
}
.controls input {
  width: 80%;
  text-align: center;
  background: transparent;
  border: none;
  border-bottom: solid 1px grey;
  font-size: 16px;
}
.controls article.pressed {
  transform: scale3d(.9, .9, 1);
  box-shadow: none;
}

/* SW-NE Gradient using alternating "100" values from https://material.io/design/color */
.controls article.pressed:nth-child(0)  { background: #FFCDD2 }
.controls article.pressed:nth-child(1),
.controls article.pressed:nth-child(4)  { background: #E1BEE7 }
.controls article.pressed:nth-child(2),
.controls article.pressed:nth-child(5),
.controls article.pressed:nth-child(8)  { background: #C5CAE9 }
.controls article.pressed:nth-child(3),
.controls article.pressed:nth-child(6),
.controls article.pressed:nth-child(9)  { background: #B3E5FC }
.controls article.pressed:nth-child(7),
.controls article.pressed:nth-child(10) { background: #B2DFDB }
.controls article.pressed:nth-child(11) { background: #DCEDC8 }

/* embedresponsively.com */
.player {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
