html,body,h1,h2,h3,ol,p { margin: 0; padding: 0 }

/* FONTS */
* { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" }
body, input, button { font-size: 16px }
h1, h2, li, select { font-size: 1.75rem }
h1, h2, li, select, a, b, button, label { font-weight: 800 !important }
li > *:first-child { font-weight: 200 }
h3, li > *:not(:first-child) { font-size: 1rem; font-weight: normal }

/* SIDE-BY-SIDE */
.left { height: 50vh }
@media only screen and (min-width: 720px) {
  .left {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
  }
  .right {
    position: relative;
    left: 50%;
    width: 50%;
  }
}

/* APP */
main {
  margin: 40px;
}
h2, h3 {
  padding: 10px 0 20px;
}
select {
  padding: 5px;
  background: #B31217;
  color: white;
  border: none;
}
input {
  border: none;
  border-bottom: solid 1px grey;
}
input {
  background: transparent;
  text-align: center;
}
label {
  display: block;
  cursor: pointer;
}
li {
  padding-bottom: 32px;
  list-style-position: inside;
}
li > *:nth-child(1) {
  display: inline;
}
li > *:nth-child(2) {
  margin-top: 10px;
}
.hidden {
  display: none;
}
.box {
  border-radius: 5px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}
.search {
  background: white;
}
.controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
}
.controls nav {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 1%;
  background: white;
  transform: scale3d(1, 1, 1);
  transition: all 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

  /* SQUARE */
  width: 20%;
  height: 0;
  padding-bottom: 20%;
}
.controls nav.pressed {
  transform: scale3d(.9, .9, 1);
  box-shadow: none;
}
.controls label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.controls input {
  width: 60%;
  margin-top: 10%;
}
.play {
  padding: 20px;
  background: #B8BAB9;
}
.play img {
  width: 100%;
}
.tweet {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  background: #55ACEE;
  margin-top: 20px;
}
.tweet, .search {
  padding: 10px 15px;
  text-align: center;
}
.tweet svg {
  margin-right: 5px;
}

/* POLY */
#poly input, #poly button {
  display: block;
  margin: 20px auto 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}
#poly input {
  font-style: italic;
  padding: 10px 0;
  background: rgba(255, 255, 255, .75);
  border: none;
  border-radius: 5px;
  color: #B31217;
}
#poly button {
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  background: #B31217;
}

/* SW-NE Gradient using alternating "100" values from https://material.io/design/color */
.controls nav.pressed:nth-child(1)  { background: #FFCDD2 }
.controls nav.pressed:nth-child(2),
.controls nav.pressed:nth-child(5)  { background: #E1BEE7 }
.controls nav.pressed:nth-child(3),
.controls nav.pressed:nth-child(6),
.controls nav.pressed:nth-child(9)  { background: #C5CAE9 }
.controls nav.pressed:nth-child(4),
.controls nav.pressed:nth-child(7),
.controls nav.pressed:nth-child(10) { background: #B3E5FC }
.controls nav.pressed:nth-child(8),
.controls nav.pressed:nth-child(11) { background: #B2DFDB }
.controls nav.pressed:nth-child(12) { background: #DCEDC8 }
