html,body,h1,h2,h3,p { margin: 0; padding: 0 }

/* FONTS */
* { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" }
body, input, button { font-size: 16px }
h1, h2, li, select { font-size: 1.6rem }
h1, h2, li, select, a, b, button, label { font-weight: 800 !important }
li > *:first-child { font-weight: 200 }
h3, li > *:not(:first-child) { font-size: 1rem; font-weight: normal }

/* SIDE-BY-SIDE */
.left { height: 50vh }
@media only screen and (min-width: 720px) {
  .left {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
  }
  .right {
    position: relative;
    left: 50%;
    width: 50%;
  }
}

/* APP */
main {
  margin: 60px auto;
  padding: 0 30px;
  max-width: 500px;
}
h2, h3 {
  padding: 10px 0 20px;
}
select {
  padding: 5px;
  background: #B31217;
  color: white;
  border: none;
}
input {
  border: none;
  border-bottom: solid 1px grey;
}
input {
  background: transparent;
  text-align: center;
}
label {
  display: block;
  cursor: pointer;
}
ol {
  margin: 0;
  padding-left: 32px;
}
li {
  padding-bottom: 32px;
}
li > *:first-child {
  margin-bottom: 10px;
}
li > *:not(:first-child) {
  margin-left: -32px; /* Undo <ol> padding */
}
.hidden {
  display: none;
}
.box {
  border-radius: 5px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}
.search {
  background: white;
}
.controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
}
.controls nav {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 1%;
  background: white;
  transform: scale3d(1, 1, 1);
  transition: all 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

  /* SQUARE */
  width: 20%;
  height: 0;
  padding-bottom: 20%;
}
.controls nav.pressed {
  transform: scale3d(.9, .9, 1);
}
.controls label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.controls input {
  width: 60%;
  margin-top: 10%;
}
.mobile {
  margin-bottom: 20px;
}
.mobile textarea {
  /* Based on
   * https://github.com/jgthms/bulma/blob/f75ae3db01cb3be96dde517811f4950540f4c76f/sass/base/helpers.sass#L178-L186 */
  border: none;
  height: 0.01em;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  width: 0.01em;
  resize: none;
}
.play {
  padding: 40px;
  background: #B8BAB9;
}
.play img {
  width: 100%;
}
.twitter, .instagram {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  margin-top: 20px;
}
.twitter, .instagram, .search, .mobile {
  padding: 10px 15px;
  text-align: center;
}
.twitter svg, .instagram svg {
  margin-right: 5px;
}
.twitter {
  background: #55ACEE;
}
.instagram {
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}

/* POLY */
#poly input, #poly button, #poly p {
  display: block;
  margin: 20px auto 0;
  width: 100%;
  box-sizing: border-box;
}
#poly input, #poly button {
  text-align: center;
}
#poly input {
  font-style: italic;
  padding: 10px 0;
  background: rgba(255, 255, 255, .75);
  border: none;
  border-radius: 5px;
  color: #B31217;
}
#poly button {
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  background: #B31217;
}

/* SW-NE Gradient from YouTube palette colors
   https://material.io/resources/color/#!/?view.left=1&view.right=1&primary.color=b31217&secondary.color=e52d27 */
.controls nav.pressed:nth-child(1)  { box-shadow: 0 0 0 8px #FF6752 }
.controls nav.pressed:nth-child(2),
.controls nav.pressed:nth-child(5)  { box-shadow: 0 0 0 8px #EC4F40 }
.controls nav.pressed:nth-child(3),
.controls nav.pressed:nth-child(6),
.controls nav.pressed:nth-child(9)  { box-shadow: 0 0 0 8px #E52D27 }
.controls nav.pressed:nth-child(4),
.controls nav.pressed:nth-child(7),
.controls nav.pressed:nth-child(10) { box-shadow: 0 0 0 8px #B31217 }
.controls nav.pressed:nth-child(8),
.controls nav.pressed:nth-child(11) { box-shadow: 0 0 0 8px #AB0000 }
.controls nav.pressed:nth-child(12) { box-shadow: 0 0 0 8px #7C0000 }
